.blog-item {
	width: 100%;
	display: flex;
	padding: 0 20px;
	justify-content: center;
}

.blog-item-content {
	width: 1440px;
	margin-top: 43px;
}

.blog-item-content button {
	display: flex;
	align-items: center;
	gap: 6px;
	border: none;
	background-color: transparent;

	color: rgb(147, 142, 155);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: left;
}

.blog-item-description {
	margin-top: 30px;
}

.blog-item-description h1 {
	color: white;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 140%;
	letter-spacing: 0%;
	text-transform: uppercase;
}

.blog-item-description-dop_info {
	display: flex;
	gap: 25px;
	margin-top: 12px;
}

.blog-item-description-dop_info span {
	color: rgb(147, 142, 155);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0%;
	text-align: left;
}

.blog-item-description-btn {
	display: flex;
	gap: 15px;
	margin-top: 30px;
}

.blog-item-description-btn button {
	color: white;
	padding: 10px 14px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 200px;
	font-size: 16px;
}

.blog-item-description-btn a {
	text-decoration: none;
}

.blog-item-content-info {
	margin-top: 30px;
	width: 100%;
}

.blog-item-content-info img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.blog-item-content-info p {
	margin-top: 43px;

	color: rgb(147, 142, 155);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0%;
	text-align: left;
}

.blog-item-content-other {
	margin-top: 56px;
}

.blog-item-content-other h2 {
	color: white;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 140%;
	letter-spacing: 0%;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.blog-item-content-info p {
		font-size: 16px;
		margin-top: 20px;
	}

	.blog-item-description h1 {
		font-size: 30px;
	}
}
